.moreinfo-body {
  height: 82vh;
  overflow: auto;
}

.moreinfo-body-list-item {
  margin: 10px 0;
}

.moreinfo-body-note {
  margin: 10px 3px;
}

.moreinfo-footer {
  align-items: center;
  background: #fafafa;
  bottom: 0;
  margin-bottom: 0;
  padding: 10px 16px;
  position: fixed;
  z-index: 1;
}

.moreinfo-footer-text {
  font-size: 12px;
}

.moreinfo-header {
  align-items: flex-start;
}

.moreinfo-list-title{
  font-weight: bold;
  width: 130px;
}

.moreinfo-margins{
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  padding: 0 16px;
  width: 235px;
}

.moreinfo-step {
  padding: 8px 16px;
}

.moreinfo-step-margin-rt {
  font-size: 16px;
  margin-right: 18px;
}