body {
  margin: 0;
  cursor: default;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input, textarea {
  background: transparent;
  border: none;
  cursor: text;
}

button:focus, input:focus, textarea:focus {
  outline: none;
}

input::placeholder {
  color: royalblue;
}

textarea { 
  resize: none;
}

.blue {
  color: royalblue;
}

.green {
  color: limegreen;
}

.gray {
  color: gray;
}

.header {
  padding: 1rem 2rem;
  height: 107px;
  color: white;
}

.align-center {
  width: 100%;
  display: flex;
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.edit-input {
  width: 100%;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: bold;
  color: white;
  border: none;
}

.sort-bar {
  padding: .3rem 3.1rem .3rem 2rem;
  font-size: .8rem;
}

.main-container {
  position: relative;
  top: 25px;
}

.list-icon {
  font-size: 1.2rem;
}

.list-icon-left {
  margin: 0 15px 3px 0;
}

.list-icon-margin-rt {
  margin-right: 15px;
}

.step-margin-rt {
  margin-right: 18px;
}

.list-item {
  height: 60px;
  margin: 0 auto;
  padding: 10px 20px;
  border-bottom: 1px solid gainsboro;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list-detail {
  padding-right: 10px;
}

li.list-detail::before {
  content: "\2022";
  color: gray;
  padding-right: 10px
}

li.list-detail:first-child::before {
  content: "";
  margin-left: 0;
  padding: 0;
}

.no-match {
  height: 100vh;
  justify-content: center;
  color: gray;
}

.more-list-title{
  width: 130px;
  font-weight: bold;
}

/* more */
.more-fixed {
  position: fixed;
  background: #fafafa;
  z-index: 1;
}

.more-margins{
  width: 235px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
}

.more-header {
  align-items: flex-start;
}

.more-footer {
  bottom: 0;
  margin-bottom: 0;
  padding: 10px 16px;
  align-items: center;
}

/* context menu */
.react-contextmenu {
  background-color: whitesmoke;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: #373a3c;
  font-size: 16px;
  margin: 2px 0 0;
  min-width: 160px;
  outline: none;
  opacity: 0;
  padding: 5px 0;
  pointer-events: none;
  text-align: left;
  transition: opacity 250ms ease !important;
}

.react-contextmenu.react-contextmenu--visible {
  opacity: 1;
  pointer-events: auto;
  z-index: 9999;
}

.react-contextmenu-item {
  background: 0 0;
  border: 0;
  color: #373a3c;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.5;
  padding: 3px 20px;
  text-align: inherit;
  white-space: nowrap;
}

.react-contextmenu-item.react-contextmenu-item--active,
.react-contextmenu-item.react-contextmenu-item--selected {
  color: #fff;
  background-color: #20a0ff;
  border-color: #20a0ff;
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-item--disabled,
.react-contextmenu-item.react-contextmenu-item--disabled:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
  color: #878a8c;
}

.react-contextmenu-item--divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  cursor: inherit;
  margin-bottom: 3px;
  padding: 2px 0;
}
.react-contextmenu-item--divider:hover {
  background-color: transparent;
  border-color: rgba(0, 0, 0, 0.15);
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0;
}

.react-contextmenu-item.react-contextmenu-submenu
  > .react-contextmenu-item:after {
  content: '▶';
  display: inline-block;
  position: absolute;
  right: 7px;
}

.example-multiple-targets::after {
  content: attr(data-count);
  display: block;
}

.custom-root {
  background-color: #fff;
}

.custom-divider {
  background-color: #000;
}

.custom-selected {
  background-color: #f00;
}