body {
  margin: 0;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input {
  background: transparent;
}

button:focus, input:focus {
  outline: none;
}

input::placeholder {
  color: royalblue;
}

.header {
  padding: 1rem 2rem;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  justify-items: space-between;
  background-color: rgb(80, 40, 250);
  color: white;
}

.main-container {
  position: relative;
  top: 40px;
}

.add-form {
  width: 100%;
  height: 60px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  border-bottom: 1px solid gainsboro;
}

.add-btn { 
  font-size: 1.5rem;
  margin-right: 5px;
  background: transparent;
  border: none;
}